@{
    ViewData["Title"] = "Доступ запрещён";
}

<header>
    <h1 class="text-danger">Статья заблокирована</h1>
    <p class="text-danger">В данный момент статья редактируется другим пользователем.</p>
    <p class="text-danger">Если блокировка занимает слишком много времени, обратитесь к администратору.</p>
</header>
