@model Grad.Models.ExportViewModel
@{
    ViewData["Title"] = "Экспорт";
}

<h2>Экспорт</h2>

<form asp-action="Export">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="artid" />
        
        <div class="form-group">
            <label asp-for="filename" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="filename" class="form-control" />
                <span asp-validation-for="filename" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Экспорт" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Назад</a>
</div>

