@model Grad.Models.ArticleRequest

@{
    ViewData["Title"] = "Заявки";
}

<h2>Создать</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ReqName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReqName" class="form-control" />
                <span asp-validation-for="ReqName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReqDescr" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReqDescr" class="form-control" />
                <span asp-validation-for="ReqDescr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReqDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReqDate" class="form-control" />
                <span asp-validation-for="ReqDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
