@model Grad.Models.Status

@{
    ViewData["Title"] = "Статусы";
}

<h2>Удалить</h2>

<h3>Удалить статус?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="StatusId" />
        <dt>
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Назад</a>
        </div>
    </form>
</div>
